.payment__success{
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
}
.payment__success>h3{
    margin-top: 20px;
}
.payment__success>button{
    background:#f0c14b;
    border-radius: 2px;
    width:30%;
    height: 30px;
    border:1px solid;
    font-weight:bolder;
    margin-top:10px;
    border-color: #a88734 #9c7e31 #846a29;
    color:#111;
}